h1 {
    text-align: center;
}

.dropdowns-div{
    width: 700px;
}

.div-1st-graph{
    display: flex;
    flex-direction: row;
    border: solid 2px;
    align-items: center;
    padding: 1% 3%;
}

.major-div{
    padding : 3% 4%
}